In [1]:
import pandas as pd
import glob as gl

In [2]:
# Get a list of all CSV files in the current directory
files = gl.glob('Resources/*.csv')
files

['Resources\\btcMo.csv',
 'Resources\\dogeMo.csv',
 'Resources\\ethMo.csv',
 'Resources\\ltcMo.csv',
 'Resources\\xrpMo.csv']

In [3]:
# Create an empty list to store each CSV file as a DataFrame
df_list = []

In [4]:
# Loop through each file and read it into a DataFrame
for file in files:
    df = pd.read_csv(file, low_memory=False)
    df_list.append(df)

In [5]:
# Concatenate all DataFrames into a single DataFrame
df_combined = pd.concat(df_list, axis=0, join='inner')

In [6]:
# Print the combined DataFrame
print(df_combined.head())

       time CryptoNm  AdrActCnt  AdrBal1in100KCnt  AdrBal1in100MCnt  \
0  1/3/2009      btc        0.0               0.0               0.0
1  1/4/2009      btc        0.0               0.0               0.0
2  1/5/2009      btc        0.0               0.0               0.0
3  1/6/2009      btc        0.0               0.0               0.0
4  1/7/2009      btc        0.0               0.0               0.0

   AdrBal1in10BCnt  AdrBal1in10KCnt  AdrBal1in10MCnt  AdrBal1in1BCnt  \
0              0.0              0.0              0.0             0.0
1              0.0              0.0              0.0             0.0
2              0.0              0.0              0.0             0.0
3              0.0              0.0              0.0             0.0
4              0.0              0.0              0.0             0.0

   AdrBal1in1KCnt  ...  TxTfrValAdjUSD  TxTfrValMeanNtv  TxTfrValMeanUSD  \
0             0.0  ...             NaN              NaN              NaN
1             0.0  ...             NaN              NaN              NaN
2             0.0  ...             NaN              NaN              NaN
3             0.0  ...             NaN              NaN              NaN
4             0.0  ...             NaN              NaN              NaN

   TxTfrValMedNtv  TxTfrValMedUSD  VelCur1yr  VtyDayRet180d  VtyDayRet30d  \
0             NaN             NaN        NaN            NaN           NaN
1             NaN             NaN        NaN            NaN           NaN
2             NaN             NaN        NaN            NaN           NaN
3             NaN             NaN        NaN            NaN           NaN
4             NaN             NaN        NaN            NaN           NaN

   principal_market_price_usd  principal_market_usd
0                         NaN                   NaN
1                         NaN                   NaN
2                         NaN                   NaN
3                         NaN                   NaN
4                         NaN                   NaN

[5 rows x 117 columns]

In [7]:
# placing the column name to a list and printing the list
column_names = df_combined.columns.tolist()
print(column_names)

['time', 'CryptoNm', 'AdrActCnt', 'AdrBal1in100KCnt', 'AdrBal1in100MCnt', 'AdrBal1in10BCnt', 'AdrBal1in10KCnt', 'AdrBal1in10MCnt', 'AdrBal1in1BCnt', 'AdrBal1in1KCnt', 'AdrBal1in1MCnt', 'AdrBalCnt', 'AdrBalNtv0.001Cnt', 'AdrBalNtv0.01Cnt', 'AdrBalNtv0.1Cnt', 'AdrBalNtv100Cnt', 'AdrBalNtv100KCnt', 'AdrBalNtv10Cnt', 'AdrBalNtv10KCnt', 'AdrBalNtv1Cnt', 'AdrBalNtv1KCnt', 'AdrBalNtv1MCnt', 'AdrBalUSD100Cnt', 'AdrBalUSD100KCnt', 'AdrBalUSD10Cnt', 'AdrBalUSD10KCnt', 'AdrBalUSD10MCnt', 'AdrBalUSD1Cnt', 'AdrBalUSD1KCnt', 'AdrBalUSD1MCnt', 'AssetEODCompletionTime', 'BlkCnt', 'CapAct1yrUSD', 'CapMVRVCur', 'CapMVRVFF', 'CapMrktCurUSD', 'CapMrktEstUSD', 'CapMrktFFUSD', 'CapRealUSD', 'FeeMeanNtv', 'FeeMeanUSD', 'FeeMedNtv', 'FeeMedUSD', 'FeeTotNtv', 'FeeTotUSD', 'NDF', 'NVTAdj', 'NVTAdj90', 'NVTAdjFF', 'NVTAdjFF90', 'PriceBTC', 'PriceUSD', 'ROI1yr', 'ROI30d', 'ReferenceRate', 'ReferenceRateEUR', 'ReferenceRateUSD', 'SER', 'SplyAct10yr', 'SplyAct180d', 'SplyAct1d', 'SplyAct1yr', 'SplyAct2yr', 'SplyAct30d', 'SplyAct3yr', 'SplyAct4yr', 'SplyAct5yr', 'SplyAct7d', 'SplyAct90d', 'SplyActEver', 'SplyActPct1yr', 'SplyAdrBal1in100K', 'SplyAdrBal1in100M', 'SplyAdrBal1in10B', 'SplyAdrBal1in10K', 'SplyAdrBal1in10M', 'SplyAdrBal1in1B', 'SplyAdrBal1in1K', 'SplyAdrBal1in1M', 'SplyAdrBalNtv0.001', 'SplyAdrBalNtv0.01', 'SplyAdrBalNtv0.1', 'SplyAdrBalNtv1', 'SplyAdrBalNtv10', 'SplyAdrBalNtv100', 'SplyAdrBalNtv100K', 'SplyAdrBalNtv10K', 'SplyAdrBalNtv1K', 'SplyAdrBalNtv1M', 'SplyAdrBalUSD1', 'SplyAdrBalUSD10', 'SplyAdrBalUSD100', 'SplyAdrBalUSD100K', 'SplyAdrBalUSD10K', 'SplyAdrBalUSD10M', 'SplyAdrBalUSD1K', 'SplyAdrBalUSD1M', 'SplyAdrTop100', 'SplyAdrTop10Pct', 'SplyAdrTop1Pct', 'SplyCur', 'SplyExpFut10yr', 'SplyFF', 'TxCnt', 'TxCntSec', 'TxTfrCnt', 'TxTfrValAdjNtv', 'TxTfrValAdjUSD', 'TxTfrValMeanNtv', 'TxTfrValMeanUSD', 'TxTfrValMedNtv', 'TxTfrValMedUSD', 'VelCur1yr', 'VtyDayRet180d', 'VtyDayRet30d', 'principal_market_price_usd', 'principal_market_usd']

In [8]:
# showing data types of the dataframe
df_combined.dtypes

time                           object
CryptoNm                       object
AdrActCnt                     float64
AdrBal1in100KCnt              float64
AdrBal1in100MCnt              float64
                               ...
VelCur1yr                     float64
VtyDayRet180d                 float64
VtyDayRet30d                  float64
principal_market_price_usd    float64
principal_market_usd           object
Length: 117, dtype: object

In [9]:
# changing the 'time' column data type from object to datetime
df_combined['time'] = pd.to_datetime(df_combined['time'])

In [10]:
# showing data types of the dataframe
df_combined.dtypes

time                          datetime64[ns]
CryptoNm                              object
AdrActCnt                            float64
AdrBal1in100KCnt                     float64
AdrBal1in100MCnt                     float64
                                   ...
VelCur1yr                            float64
VtyDayRet180d                        float64
VtyDayRet30d                         float64
principal_market_price_usd           float64
principal_market_usd                  object
Length: 117, dtype: object

In [11]:
df_combined.count()

time                          19195
CryptoNm                      19195
AdrActCnt                     19190
AdrBal1in100KCnt              19190
AdrBal1in100MCnt              19190
                              ...
VelCur1yr                     19183
VtyDayRet180d                 16541
VtyDayRet30d                  17291
principal_market_price_usd     1193
principal_market_usd           1193
Length: 117, dtype: int64

In [12]:
# dropping any NaN values
df_combined = df_combined.dropna(how='all')

In [13]:
df_combined.count()

time                          19195
CryptoNm                      19195
AdrActCnt                     19190
AdrBal1in100KCnt              19190
AdrBal1in100MCnt              19190
                              ...
VelCur1yr                     19183
VtyDayRet180d                 16541
VtyDayRet30d                  17291
principal_market_price_usd     1193
principal_market_usd           1193
Length: 117, dtype: int64

In [14]:
# droping any duplicates
df_combined = df_combined.drop_duplicates()
df_combined.count()

time                          19195
CryptoNm                      19195
AdrActCnt                     19190
AdrBal1in100KCnt              19190
AdrBal1in100MCnt              19190
                              ...
VelCur1yr                     19183
VtyDayRet180d                 16541
VtyDayRet30d                  17291
principal_market_price_usd     1193
principal_market_usd           1193
Length: 117, dtype: int64

In [15]:
# exporting the combined dataframe to .csv
df_combined.to_csv('Resources/combined_data.csv', index=False)

In [16]:
# Create a new DataFrame with only 'time' and 'PriceUSD'.
df_working_data = df_combined.loc[:, ['time', 'CryptoNm', 'PriceUSD']]
print(df_working_data)

           time CryptoNm  PriceUSD
0    2009-01-03      btc       NaN
1    2009-01-04      btc       NaN
2    2009-01-05      btc       NaN
3    2009-01-06      btc       NaN
4    2009-01-07      btc       NaN
...         ...      ...       ...
3708 2023-02-26      xrp  0.377466
3709 2023-02-27      xrp  0.379113
3710 2023-02-28      xrp  0.377556
3711 2023-03-01      xrp  0.383784
3712 2023-03-02      xrp       NaN

[19195 rows x 3 columns]

In [17]:
df_working_data.count()

time        19195
CryptoNm    19195
PriceUSD    17441
dtype: int64

In [18]:
#Cleaning the data to remove any row that has a NAN value
df_working_data = df_working_data.dropna(how='any')

In [19]:
df_working_data.count()

time        17441
CryptoNm    17441
PriceUSD    17441
dtype: int64

In [20]:
# cleaning the data to remove any duplicates
df_working_data = df_working_data.drop_duplicates()
df_working_data.count()

time        17441
CryptoNm    17441
PriceUSD    17441
dtype: int64

In [21]:
# Changing column name
df_working_data = df_working_data.rename(columns={'CryptoNm': 'Symbol'})

In [22]:
print(df_working_data)

           time Symbol  PriceUSD
561  2010-07-18    btc  0.085840
562  2010-07-19    btc  0.080800
563  2010-07-20    btc  0.074736
564  2010-07-21    btc  0.079193
565  2010-07-22    btc  0.058470
...         ...    ...       ...
3707 2023-02-25    xrp  0.377417
3708 2023-02-26    xrp  0.377466
3709 2023-02-27    xrp  0.379113
3710 2023-02-28    xrp  0.377556
3711 2023-03-01    xrp  0.383784

[17441 rows x 3 columns]

In [23]:
# create a new column to store the percent change values
df_working_data['Percent of Change'] = 0
df_working_data.head()

          time Symbol  PriceUSD  Percent of Change
561 2010-07-18    btc  0.085840                  0
562 2010-07-19    btc  0.080800                  0
563 2010-07-20    btc  0.074736                  0
564 2010-07-21    btc  0.079193                  0
565 2010-07-22    btc  0.058470                  0

In [25]:
# resetting the index for the combined data frame
df_working_data = df_working_data.reset_index(drop=True)
df_working_data.head()

        time Symbol  PriceUSD  Percent of Change
0 2010-07-18    btc  0.085840                  0
1 2010-07-19    btc  0.080800                  0
2 2010-07-20    btc  0.074736                  0
3 2010-07-21    btc  0.079193                  0
4 2010-07-22    btc  0.058470                  0

In [28]:
# loop through the rows and calculate the percent change for each day
for i in range(1, len(df_working_data)):
    current_val = df_working_data.loc[i, 'PriceUSD']
    prev_val = df_working_data.loc[i-1, 'PriceUSD']
    percent_change = (current_val - prev_val) / prev_val * 100
    df_working_data.loc[i, 'Percent of Change'] = percent_change

In [29]:
# print the resulting dataframe
print(df_working_data)

            time Symbol  PriceUSD  Percent of Change
0     2010-07-18    btc  0.085840           0.000000
1     2010-07-19    btc  0.080800          -5.871389
2     2010-07-20    btc  0.074736          -7.505286
3     2010-07-21    btc  0.079193           5.963860
4     2010-07-22    btc  0.058470         -26.167892
...          ...    ...       ...                ...
17436 2023-02-25    xrp  0.377417          -0.224197
17437 2023-02-26    xrp  0.377466           0.012875
17438 2023-02-27    xrp  0.379113           0.436297
17439 2023-02-28    xrp  0.377556          -0.410464
17440 2023-03-01    xrp  0.383784           1.649344

[17441 rows x 4 columns]

In [30]:
# exporting DataFrame to .csv file
df_working_data.to_csv('Resources/Percent_of_change_dataset.csv', index=False)