In [2]:
import pandas as pd
import os

In [8]:
XRPDaily = os.path.join('Resources/XRP_DataDaily.csv')
XRPd_df = pd.read_csv(XRPDaily)
XRPd_df

          Date    Price     Open     High      Low     Vol. Change %
0     1-Mar-23  0.38410  0.37620  0.38422  0.37280  456.92M    2.10%
1    28-Feb-23  0.37620  0.37850  0.38251  0.37208  575.91M   -0.61%
2    27-Feb-23  0.37850  0.37798  0.38011  0.37107  602.00M    0.14%
3    26-Feb-23  0.37799  0.37786  0.38059  0.37460  200.97M    0.03%
4    25-Feb-23  0.37786  0.37843  0.37933  0.37088  285.25M   -0.15%
..         ...      ...      ...      ...      ...      ...      ...
785   5-Jan-21  0.22544  0.23570  0.24183  0.21821    2.46B   -4.37%
786   4-Jan-21  0.23575  0.22495  0.25988  0.21767    3.14B    4.87%
787   3-Jan-21  0.22479  0.22087  0.23783  0.21542    2.49B    1.73%
788   2-Jan-21  0.22097  0.23727  0.23806  0.21140    2.48B   -6.84%
789   1-Jan-21  0.23720  0.21928  0.24997  0.21643    2.98B    8.18%

[790 rows x 7 columns]

In [14]:
XRPd_df['Date'] = pd.to_datetime(XRPd_df['Date'])
XRPd_df['day_of_week'] = XRPd_df['Date'].dt.day_name()
XRPd_df

,Date,Price,Open,High,Low,Vol.,Change %,day_of_week
0,2023-03-01,0.38410,0.37620,0.38422,0.37280,456.92M,2.10%,Wednesday
1,2023-02-28,0.37620,0.37850,0.38251,0.37208,575.91M,-0.61%,Tuesday
2,2023-02-27,0.37850,0.37798,0.38011,0.37107,602.00M,0.14%,Monday
3,2023-02-26,0.37799,0.37786,0.38059,0.37460,200.97M,0.03%,Sunday
4,2023-02-25,0.37786,0.37843,0.37933,0.37088,285.25M,-0.15%,Saturday
...,...,...,...,...,...,...,...,...
785,2021-01-05,0.22544,0.23570,0.24183,0.21821,2.46B,-4.37%,Tuesday
786,2021-01-04,0.23575,0.22495,0.25988,0.21767,3.14B,4.87%,Monday
787,2021-01-03,0.22479,0.22087,0.23783,0.21542,2.49B,1.73%,Sunday
788,2021-01-02,0.22097,0.23727,0.23806,0.21140,2.48B,-6.84%,Saturday
789,2021-01-01,0.23720,0.21928,0.24997,0.21643,2.98B,8.18%,Friday